.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  color: green;
}

.App-header h2{
  color: green;
  font-size: 24px;
}

.App-header p {
  color: black;
}

#container {
  width: 100%;
}

#container-green {
  width: 100%;
  background-color: green;
}

.first {
  width: 50%;
  float: left;
  height: 300px;
}

.second {
  width: 50%;
  float: left;
  height: 300px;
}

.first img{
  width: 95%;
  height: auto;
  overflow: hidden;
}

.second img{
  width: 95%;
  height: auto;
  overflow: hidden;
}

.uiDesign p {
  color: black;
  font-size: 14px;
}

.uiDesign label {
  color: black;
}

/*
Button Design from: https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_basic*/

.uiDesign button {
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.funFactContainer div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 5%;
}

.funFactImage img {
  width: 80%;
  height: auto;
  float: left;
  padding-top: 10%;
}

.funFactText div {
  float: left;
  padding-left: 20px;
  padding-top: 20%;
}

.funFactText p {
  color: black;
  font-size: 16px;
  padding-left: 20px;
}

.funFactText h2 {
  color: green;
  font-size: 20px;
}
